/* Navbar.css */

.navbar {
  background-color: #3787d8;
  padding: 15px 20px;
}

.navbar-brand i {
  font-size: 2em;
  color: #fff;
}

.navbar-toggler-icon {
  color: #fff;
}

.navbar-nav {
  margin: 0;
}

.nav-item {
  margin: 0;
}

.nav-link {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ccc;
}
