.post {
    background-color: #3787d8;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .post-title {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .post-meta {
    color: #000000;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .post-info {
    color: #000000;
    line-height: 2;
  }

  .create-post-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #3787d8 ;
    border-radius: 8px;
  }
  
  .create-post-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .inputField {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .create-post-container button {
    border-top-width: 100px;
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-post-container button:hover {
    background-color: #0056b3;
  }
  
  .custom-button {
    border: #000000;
    font-size: 18px;
    border-radius: 10px;
    background-color: #007bff; 
    color: #ffffff; 
  }

  .main-headings {
    font-size: 2em; 
    font-weight: bold;
    size: 100dp;
    text-decoration: solid;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .error-main-headings {
    font-size: 15dp;
    outline: #000000; 
    font-weight: bold;
    size: 100dp;
    text-decoration: solid;
    color: rgb(255, 7, 7);
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .delete-icon {
    cursor: pointer;
    color: #ff0000; /* Red color for the trash icon */
    /* additional styling */
  }
  
  .delete-icon:hover {
    color: #cc0000; /* Darker red on hover for visual feedback */
  }