* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

html, body {
  height: 100%; 
  width: 100%; 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

#root, .App {
  background-color: #ffffff;
  height: 100%; 
  width: 100%; 
}

.App-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100px; 
}

.main-headings {
  font-size: 2em; 
  font-weight: bold;
  size: 100dp;
  text-decoration: solid;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center; 
  align-items: center; 
  
}
.create-post-container button {
  display: block;
  margin: 0 auto;
}

.large-button {
  font-size: 18px;
  padding: 15px 30px;
}

.button-margin {
  size: 10px;
  margin-left: 10px; 
}

.button-container {
  size: 10px;
  text-align: center; 
  margin-top: 50px; 
}
.custom-button {
  box-shadow: none;
  font-size: 18px;
  border-radius: 10px;
  background-color: #3787d8; 
  color: #ffffff; 
}

.login-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  box-shadow: none;
  padding: 30px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #3787d8; 
  color: #ffffff; 
}